@font-face {
    font-family: 'MuseoSans500';
    src: url('fonts/museosans_500-webfont.eot');
    src: url('fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans_500-webfont.woff') format('woff'),
         url('fonts/museosans_500-webfont.ttf') format('truetype'),
         url('fonts/museosans_500-webfont.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans300';
    src: url('fonts/museosans_300-webfont.eot');
    src: url('fonts/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans_300-webfont.woff') format('woff'),
         url('fonts/museosans_300-webfont.ttf') format('truetype'),
         url('fonts/museosans_300-webfont.svg#MuseoSans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: MuseoSans300;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

img {
    border 0;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
	text-decoration: underline;
}

#page_wrapper {
    width: 1000px;
    margin: 0 auto;
}

#page_header {
    background: url('images/rm_shop_header.png');
    width: 1262px;
    height: 244px;
    position: relative;
    left: -131px;
}

#page_footer {
    background: url('images/rm_shop_footer.png');
    width: 1262px;
    height: 354px;
    position: relative;
    left: -131px;
}

/* Start of Promo Slider CSS */
#promo_slider 				{height: 235px; background: url('http://www.rm.com/_RMVirtual/Media/Images/slider-image-bg-shop.jpg') repeat-x left bottom #FFF; border-bottom: 1px solid #FFF; border-top: 1px solid #FFF; border: 1px solid #fff; overflow: hidden; clear: both;}
#rm_slides 				{clear:both; width:1000px; overflow:hidden;}
.slide 					{float:left; width:1000px;}
.slide a img				{border:none;}
#menu_thumb 				{height:28px; clear: both; margin-top: -30px;   text-align: center;}
ul.slider_thumb 			{margin:0px; padding:0px; height:29px; display: inline-block; !position:relative; !left:190px;}
ul.slider_thumb li 			{float:left; list-style:none;  background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') repeat-x 0px -97px; /*_width:165px;*/ padding:1px 0px;}
ul.slider_thumb li:first-child		{background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') repeat-x 0px -128px;}
ul.slider_thumb li.lastChild		{background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') repeat-x right -159px!important;}	
ul.slider_thumb li a			{height:21px; display:inline-block; padding:6px 21px 0px; font-size:12px; outline:none;}
ul.slider_thumb li a:hover		{text-decoration:none;}	
ul.slider_thumb li.inact a		{border-left:1px solid #cacaca; color:#3c3c3c;}
ul.slider_thumb li:first-child.inact a	{border-left:none;}
ul.slider_thumb li.act a		{background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') repeat-x 0px -67px; border-right:1px solid #4c2e91; border-left:1px solid #4c2e91; color:#FFFFFF;}
ul.slider_thumb li:first-child.act a	{background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') no-repeat 0px -34px!important; border-left:none;}
ul.slider_thumb li.lastChild.act a	{background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') no-repeat right -2px!important; border-right:none;}
/* End of Promo Slider CSS */


#microsoft_mba {
	float: right;
	padding: 10px;
	font-family: 'MuseoSans300';
	font-size: 16px;
}

/*********************
*  Best Sellers Code *
*********************/
#bestsellers {
    width: 1000px;
    height: 264px;
    position: relative;
    margin-top: 16px;
}

#bestsellers>div {
    position: absolute;
}

#bestsellers_main_wrapper {
    
}

#bestsellers_title {
    background: url('images/bestsellers_title.png');
    width: 268px;
    height: 43px;
    z-index: 10;
}

#bestsellers_previous {
    width: 33px;
    height: 33px;
    left: -6px;
    top: 100px;
    z-index: 10;
}

#bestsellers_previous a.bestsellers_prev {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url('images/bestsellers_prev_normal.png');
}

#bestsellers_previous a.bestsellers_prev:hover {
    background: url('images/bestsellers_prev_hover.png');
}

#bestsellers_next {
    width: 33px;
    height: 33px;
    right: -6px;
    top: 100px;
    z-index: 10;
}

#bestsellers_next a.bestsellers_next {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url('images/bestsellers_next_normal.png');
}

#bestsellers_next a.bestsellers_next:hover {
    background: url('images/bestsellers_next_hover.png');
}

#bestsellers_main_wrapper {
    z-index: 5;  /* Behind the title and controls */
    width: 980px;
    height: 244px;
    left: 10px;
    top: 20px;
    background-color: #333;
}

#bestsellers_slider {
    width: 940px;
    height: 214px;
    margin: 20px 20px 10px;
    overflow: hidden;
    position: relative;
}

#bestsellers_products {
    width: 25000px;
    height: 100%;
    position: absolute;
    left: 0;
}

.bestsellers_product {
    width: 215px;
    height: 214px;
    float: left;
    margin: 0 10px;
    color: white;
    position: relative;
}

.bestsellers_product img {
    border: 1px solid white;
}

.bestsellers_product div.rating {
	margin-top: 4px;
	padding-left: 5px;
}

.bestsellers_product div.rating img{
	border: none;
}

.bestsellers_product h3 {
	font-size: 18px;
	font-family: 'MuseoSans300';
	color: white;
	padding: 5px;  
}

.bestsellers_product p {
	font-size: 14px;
	font-family: 'MuseoSans300';
	color: white;
	padding: 5px;
}

.bestsellers_product h4 {
	font-size: 18px;
	font-family: 'MuseoSans300';
	color: rgb(255, 121, 0);
	padding: 5px;
	position: absolute;
	bottom: 0;
}

/**********************
*  Category Grid Code *
**********************/

#grid_wrapper {
    width: 1000px;
    overflow: hidden;
}

#category_wrapper {
    width: 705px;
    padding-left: 20px;
    overflow: hidden;
    float: left;
}

.category_panel {
	width: 215px;
	height: 355px;
	overflow: hidden;
	position: relative;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
} 

.category_panel.first_row {
	margin-top: 20px;
}

.category_panel h3 {
	font-size: 19px;
	margin: 10px 0;
}

.category_panel p {
	margin: 10px 0;
	font-size: 14px;
	font-family: 'MuseoSans300';
} 

#side_panel_wrapper {
	width: 235px;
	overflow: hidden;
} 

.side_panel {
	width: 215px;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 20px;
    background-color: rgb(37, 37, 37);
    position: relative;
}

.side_panel.first {
	margin-top: 0;
}

.side_panel .img_padding {
	 padding-left: 3px;
	 padding-top: 3px;
}

.side_panel h3 {
	font-size: 20px;
	font-family: 'MuseoSans300';
	color: white;
	padding: 5px;  
} 

.side_panel p {
	font-size: 14px;
	font-family: 'MuseoSans300';
	color: white;
	padding: 5px;
}

#brand_logos,
#discover_logos,
#software_logos {
	overflow: hidden;
	margin-left: 1px;
	margin-top: 1px;
}

.brand_logo,
.discover_logo,
.software_logo  {
	width: 104px;
	height: 110px;
	background: url('images/brands.png');
	margin: 1px;
	float: left;
}

.software_logo  {
	height: 95px;
	background: url('images/software_logos.png');
	margin: 0;
}

.brand_logo a,
.discover_logo a,
.software_logo a {
	width: 100%;
	height: 100%;
	display: block;
}

.brand_logo a:hover,
.discover_logo a:hover,
.software_logo a:hover {
	background: url('images/trans_black.png');
}

.discover_logo {
	background: url('images/discover_logos.png');
}

.side_panel.contains_cta{
	padding-bottom: 50px;
} 

.cta {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	border: none;
	-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
}

.cta tr {
	height: 100%;
}

.cta td {
	height: 100%;
    border: none;
    font-family: 'MuseoSans300';
    font-size: 18px;
	vertical-align: middle;
	text-align: center;
    background-color: rgb(253, 112, 35);
    color: white;
}

.cta td:hover {
	background-color: rgb(253, 132, 55);
}

.cta a {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	display: block;
    width: 100%;
    height: 100%;
}


/**********************
*  Why buy from RM section *
**********************/

#further_info {
    width: 920px;
    background-color: #333;
    margin-top: 20px;
    padding: 20px 40px 50px;
    overflow: hidden;
    font-family: 'MuseoSans300';
    position: relative;
}

#further_info h3 {
	color: white;
	font-size: 20px;
	font-weight: normal;
	border-bottom: 1px solid #999;
	width: 460px;
}

#further_info .go_to_top {
	position: absolute;
	left: 40px;
	bottom: 0;
}

.logos_wrapper {
	width: 340px;
	margin-top: 0;
    margin-bottom: 0;
	overflow: hidden;
	float: right;
}

.logos_wrapper img {
	margin-left: 5px;
}

ul#why_buy_specs {
	margin: 20px 0 0 15px;
	padding: 0;
}

#why_buy_specs li {
	margin: 0;
	text-indent: -2px;
	line-height: 175%;
	list-style: square;
	font-size: 16px;
	font-family: 'MuseoSans300';
	color: white;
}


