body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	border 0;
}

a:link, a:visited {
	text-decoration: none;
}

#page_wrapper {
	width: 1000px;
	margin: 0 auto;
}

#page_header {
	background: url('images/rm_shop_header.png');
	width: 1262px;
	height: 244px;
	position: relative;
	left: -131px;
}

#page_footer {
	background: url('images/rm_shop_footer.png');
	width: 1262px;
	height: 354px;
	position: relative;
	left: -131px;
}

#promo_slider 							{height: 235px; background: url('http://www.rm.com/_RMVirtual/Media/Images/slider-image-bg-shop.jpg') repeat-x left bottom #FFF; border-bottom: 1px solid #FFF; border-top: 1px solid #FFF; border: 1px solid #fff; overflow: hidden; clear: both;}
#rm_slides 								{clear:both; width:1000px; overflow:hidden;}
.slide 									{float:left; width:1000px;}
.slide a img							{border:none;}
#menu_thumb 							{height:28px; clear: both; margin-top: -30px;   text-align: center;}
ul.slider_thumb 						{margin:0px; padding:0px; height:29px; display: inline-block; !position:relative; !left:190px;}
ul.slider_thumb li 						{float:left; list-style:none;  background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') repeat-x 0px -97px; /*_width:165px;*/ padding:1px 0px;}
ul.slider_thumb li:first-child			{background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') repeat-x 0px -128px;}
ul.slider_thumb li.lastChild			{background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') repeat-x right -159px!important;}	
ul.slider_thumb li a					{height:21px; display:inline-block; padding:6px 21px 0px; font-size:12px; outline:none;}
ul.slider_thumb li a:hover				{text-decoration:none;}	
ul.slider_thumb li.inact a				{border-left:1px solid #cacaca; color:#3c3c3c;}
ul.slider_thumb li:first-child.inact a	{border-left:none;}	
ul.slider_thumb li.act a				{background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') repeat-x 0px -67px; border-right:1px solid #4c2e91; border-left:1px solid #4c2e91; color:#FFFFFF;}
ul.slider_thumb li:first-child.act a	{background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') no-repeat 0px -34px!important; border-left:none;}
ul.slider_thumb li.lastChild.act a		{background:url('http://www.rm.com/_RMVirtual/Media/Images/slider-nav-sprite-shop.png') no-repeat right -2px!important; border-right:none;}
