body {
	margin: 0;
}

#page_wrapper {
	width: 1000px;
	margin: 0 auto;
}

#page_header {
	background: url('images/rm_shop_header.png');
	width: 1262px;
	height: 244px;
	position: relative;
	left: -131px;
}

#page_footer {
	background: url('images/rm_shop_footer.png');
	width: 1262px;
	height: 354px;
	position: relative;
	left: -131px;
}